.donutchart-track{
	fill:transparent;
	stroke: #DAE2E5;
	stroke-width:26;
}
.donutchart-indicator{
	fill: transparent;
	stroke: #009688;
	stroke-dasharray: 0 10000;
	stroke-width:26;
}
/*
stroke-dasharray: 0 10000;
	transition: stroke-dasharray .3s ease;
		fill:transparent;
	stroke: #009688;
	
	*/